- if @selected_products.present?
  = link_to move_to_inventory_path, :class => "btn btn-primary pull-right", :remote => true, :method => :put do
    %i.glyphicon.glyphicon-send
    = "Move to fridge"
  = link_to "Clear", products_path(:clear => true), :class => "btn btn-link pull-right", :remote => true
  %h4
    = "You have selected "
    = @selected_products.count
    = "items to move to your personal inventory"
