- if object.to_buy?
  %td.text-center= check_box_tag :checkbox, "product_selection[#{object.id}]", session[:selected_products].try(:[], object.id.to_s) == 1, :class => "callback", :autocomplete => "off"
  %td.text-capitalize= object.name
  %td= object.product_type
  %td= object.quantity 
  %td= object.unit_measurement
  %td= object.expiration_date
  %td= object.price
  %td= object.unit_price
  %td.text-capitalize= object.store
  %td.actions.text-center= smart_listing_item_actions [{name: :edit, url: edit_product_path(object)}, {name: :destroy, url: product_path(object), confirmation: "Are you sure you want to delete this?"}]


